div.main-nav-container {
}

div.main-nav-container>div.side-menu {
	overflow:visible ;
}

div.main-nav-container>div.side-menu>div.menu-container {
	left:0 !important ;
}

div.main-nav-container>div.side-menu>div.menu-container>ul {
}

div.main-nav-container>div.side-menu>div.menu-container>ul li {
	position:relative ;
}

div.main-nav-container>div.side-menu>div.menu-container>ul li>ul {
	display:block ;
	visibility:hidden ;
	opacity:0 ;
	transition: visibility 0.5s, opacity 0.5s ;
}

div.main-nav-container>div.side-menu>div.menu-container>ul li:hover>ul {
	visibility:visible ;
	opacity:1 ;
}

div.main-nav-container>div.side-menu>div.menu-container>ul li {
	background:#606060 ;
}

div.main-nav-container>div.side-menu>div.menu-container>ul li span.back-simple {
	display:none ;
}

.side-menu .side-menu-block .side-menu-item .side-menu-link {
	padding:6px 3% ;
	display: block ;
	width:94% ;
}

.side-menu {
	width:20% ;
}

span[data-elementreferenceid]::after {
    content: attr(data-elementreferenceid);
    padding: 2px 5px;
    border-radius: 3px;
    background: white;
	color: #000;
	font-weight:bold ;
}


li[data-elementreferenceid] {
	position:relative ;
}

li[data-elementreferenceid]::before {
	content: attr(data-elementreferenceid) !important;
    padding: 2px 5px;
    border-radius: 3px;
    background: white;
	color: #000;
	font-weight:bold ;
	position: absolute ;
	display: inline-block ;
	line-height: normal !important ;
	top:10px ;
	opacity:0.5 ;
	right:30px ;
}

.fixed-side-nav .main-content {
	margin-left:20% ;
}